[submodule "cookbook"]
    path = cookbook
    url = https://github.com/Pelagicore/vagrant-cookbook.git
[submodule "dbus-proxy"]
    path = dbus-proxy
    url = https://github.com/Pelagicore/dbus-proxy.git
