[Unit]
Description=Setup late_mounts directory
After=local-fs.target

[Service]
ExecStartPre=/bin/mkdir -p /var/launcher/late_mounts
ExecStartPre=/bin/mount --bind /var/launcher/late_mounts /var/launcher/late_mounts
ExecStart=/bin/mount --make-shared /var/launcher/late_mounts
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
